html{
 font-size: 62.5%;
}
body{
  margin: 0;

}
.coverer{
   background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: relative;

}
.logo-cont{
  display: flex;
  flex-direction: column;
}
.logo-text{
  display: flex;
  flex-direction: row;
  height: 8rem;
  align-items: center;
  position: relative;

}
.logo-text-link{
  text-decoration: none;
  width: 22rem;
  height: 14.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}
.logo-text-st{
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.7rem;

  text-decoration: none !important;

}
.logo-text-nd{
  color: white;
  font-family: 'Roboto' , sans-serif;
  font-size: 1.7rem;
  margin: 0;
  font-weight: 300;
  margin-left: 2.8rem;

}
.first{
  background-image: url(main-background.png);
  width: 100%;
  height: 88rem;
  background-repeat: no-repeat;
}
.two-logos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.logo-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 14.3rem;
}
.eagle{
  width: 22rem;
  height: 14.3rem;
  background-color: #d11632;

}
.birb{
  float: right;
}
.shape{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.romp{
  margin-right: 1px;
}
.nw{
  color: #fff;
  font-size: 3.2rem;
  margin: 0;
}
.pparp{
  color: #fff;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}
.shape-text{
  display: flex;
  flex-direction: column;
  margin-left: 2.8rem;
}
.main-menu{
  width: 85rem;
  min-height: 20rem;
  justify-content: center;
  align-items: space-around;
  margin-top: 2rem;
}
.main-menu-cont{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 2.5rem;
  border-bottom: solid 1px #afafaf;
  color: #fff;
  padding-bottom: 1rem;
  padding-left: 0;
}
.mmc-qr{
  margin: 0 1rem 0 4rem;
}
.mmc-th{
  margin-left:2rem;
}
.mmc-nd{
  margin-left: 2rem;
}
.mmc-st{
  margin-left: 2rem;
}
.promo-text{
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 4.5rem;
    color: #fff;
    position: absolute;
    bottom: 8.6rem;
    left: 9.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 87rem;
    margin: 0;
    line-height: 6rem;
}
.floater{
  position: absolute;
  right: 0;
  height: 100%;
  width: 85rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.column-st{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.log-butt{
  background-color: #0075ff;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: 'Roboto' , sans-serif;
  width: 15.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  text-decoration: none;
  margin-right: 7rem;
}
.text-cleaner{
  text-decoration: none;
}
.regi{
  margin-right: 4.4rem;
  font-size: 1.8rem;
  color: #fff !important;
  font-family: "Roboto" , sans-serif;
  text-decoration: none;
}
.soft-link{
  color: #fff;
}
.clear-link{
  color: #fff;
  text-decoration: none;
}
.search-cont{
  display: flex;
  flex-direction: column;
  float: right;
  width: 70rem;
  height: 30rem;
  margin-right: 9rem;
  margin-top: 5rem;
}
.search-cont-text{
  font-size: 2.5rem;
  color: #fff;
  width: 46rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto" , sans-serif;
}
.logo-search{
  display: flex;
  flex-direction: row;
;
}
.search{
  border: none;
  width: 52.4rem;
  height: 7rem;
  color: #000000;
  font-size: 1.8rem;
  font-family: "Roboto" , sans-serif;
  border: 1px solid white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}
.white-lsearch{

}
.blue-lsearch{
  width: 7rem;
  height: 7.5rem;
  background-color: #0075ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.thatloop{
}
.search::placeholder{
  color: #000000;
  padding-left: 2.2rem;
  font-size: 1.8rem;
  font-family: "Roboto" , sans-serif;
  font-weight: 600;
}
.search-ct-butt{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0075ff;
  width: 32.2rem;
  height: 4.5rem;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: 'Roboto' , sans-serif;
  border-radius: 6px;
  margin-top: 4rem;
  margin-left: 27.5rem;
}
.second{
  height: 264rem;
}
.second-logo-cont{
  display: flex;
  flex-direction: row;
}
 .second-logo{
   margin-left: 40rem;
   margin-top: 15rem;
 }
 .second-logo-text{
     font-family: "Roboto" , sans-serif;
     color: #2a2a2a;
     font-size: 3.5rem;
     font-weight: 300;
     margin-top: 13.9rem;
     margin-left: 3rem;
 }
 .second-logo-link{
   margin-top: 22rem;
   margin-left: 5.5rem;
 }
 .second-logo-link-cont{
   font-size: 1.8rem;
   color: #0075ff;
   margin-top: 16rem;
   font-weight: 600;
   font-family: "Roboto" , sans-serif;
 }
.category-logo{
  display: flex;
  flex-direction: column;
}
.that-red-line{
  border: 1px solid #000;
  border-color: #d11632;
  width: 11.5rem;
  border-bottom: 0;
  margin-left: 25.6rem;
  margin-top: 13.5rem;
  border-left: 0;
  border-right: 0;
}
.category-text{
  font-size: 3.8rem;
  font-weight: 200;
  font-family: "Roboto" , sans-serif;
  margin-left: 39.5rem;
  margin-top: -4.2rem;
  width: 100rem;
}
.cat-main-cont{
  font-size: 1.8rem;
  font-family: "Roboto" , sans-serif;
  margin-top: 4.5rem;
  width: 90rem;
  margin-left: 40rem;
  line-height: 3rem;
  font-weight: 100;
  word-spacing: 0.3rem;
}
.category-link{
  color: #0075ff;
  font-size: 2.5rem;
    font-family: "Roboto" , sans-serif;
    text-decoration: none;
    margin-left: 92.5rem;
    margin-top: -10rem;
    font-weight: 100;
}
.eight-imgs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Roboto" , sans-serif;
  color: #fff;
  width: 180rem;
  margin-top: 4.4rem;
  justify-content: center;
  margin-left: 5rem;

}
.blu-box{
  width: 33.3rem;
  background-color: #0075ff;
  height: 12rem;
  border-radius: 12.5px;
  margin-right: 3.3rem;
  overflow: hidden;
  margin-top: 3.4rem;
  font-size: 1.8rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
}
.blu-box-text{
  margin-left: 6.5rem;
  margin-top: 4.8rem;
}
.b-b-img{
  margin-right: -3rem;
  margin-left: -5rem;
}
.blocker{
  display: block;
}
.all-cat{
  font-size: 1.8rem;
  color: #0075ff;
  margin-top: 16rem;
  font-weight: 600;
  font-family: "Roboto" , sans-serif;
}
.all-cat-cont{
  margin-left: 136.5rem;
  margin-top: 2.8rem;
}
.tutorial-base{
  font-size: 3.8rem;
  font-weight: 200;
  font-family: "Roboto" , sans-serif;
  margin-left: 39.5rem;
  margin-top: -4.2rem;
  width: 100rem;
}
.parp-def{
  font-size: 1.8rem;
  font-family: "Roboto" , sans-serif;
  margin-top: 6.2rem;
  width: 80rem;
  margin-left: 40rem;
  line-height: 3rem;
}
.tristeps{
  display: flex;
  flex-direction: row;
  margin-top: 9rem;
}
.tri-search{
  height: 12rem;
  width: 44.5rem;
  background-color: #e4e4e4;
  border-radius: 12.5px;
  margin-left: 24.5rem;
}
.tri-ser-txt{
  font-family: "Roboto" , sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  width: 24rem;
  margin-left: 14.5rem;
  margin-top: -6rem;
}
.tri-img{
  margin-top: 3rem;
  margin-left: 6rem;
}
.tri-register{
  height: 12rem;
  width: 44.5rem;
  background-color: #e4e4e4;
  border-radius: 12.5px;
  margin-left: 4.5rem;

}
.tri-reg-txt{
  font-family: "Roboto" , sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  width: 24rem;
  margin-left: 16.5rem;
  margin-top: -5rem;
}
.tri-img-ntwo{
  margin-top: 2.8rem;
  margin-left: 8rem;
}
.tri-participe{
  height: 12rem;
  width: 44.5rem;
  background-color: #e4e4e4;
  border-radius: 12.5px;
  margin-left: 4.5rem;
}
.tri-par-txt{
  font-family: "Roboto" , sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  margin-left: 14.5rem;
  margin-top: -5.5rem;
}
.tri-link{
  font-size: 1.8rem;
  color: #0075ff;
  margin-top: 13rem;
  font-weight: 600;
  font-family: "Roboto" , sans-serif;
}
.tri-link-cont{
  margin-left: -28rem;
}
.search-def{
  font-size: 1.8rem;
  font-family: "Roboto" , sans-serif;
  margin-top: 6.2rem;
  width: 100rem;
  margin-left: 40rem;
  line-height: 3rem;
}
.search-nd-select{

}
.search-nd-box{
  border: none;
  width: 100%;
  height: 80rem;
}
.how-to-box{

  height: 20rem;
}
